astroid==2.4.2
cycler==0.10.0
decorator==4.4.2
imageio==2.9.0
imutils==0.5.3
isort==4.3.21
kiwisolver==1.2.0
lazy-object-proxy==1.4.3
matplotlib==3.3.0
mccabe==0.6.1
networkx==2.4
numpy==1.19.1
opencv-python==4.3.0.36
Pillow==7.2.0
pylint==2.5.3
pyparsing==2.4.7
# pypylon==1.5.4.dev0+pylon6.1.2
python-dateutil==2.8.1
pythreshold==0.3.1
pyusb==1.0.2
PyWavelets==1.1.1
scikit-image==0.17.2
scipy==1.5.2
six==1.15.0
tifffile==2020.7.24
toml==0.10.1
wrapt==1.12.1
